@charset "utf-8";

/* ========================= tablet ========================= */
@media (max-width: 1024px){
    .inner{
        padding: 0;
    }
    /* header */
    .gnb{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        box-shadow: 3px 3px 3px gray;
    }
    .gnb-item{
        width: 100%;
        text-align: center;
        padding: 4px;
        display: none;
    }
    .gnb-toggle-btn{
        display: block;
        padding-top: 10px;
    }
    .gnb.active .gnb-item{
        display: block;
        background: rgb(255, 255, 255);
        padding: 0;
    }
    .slider-container h1{
        font-size: 2rem;
    }

    /* footer */
    footer p{
        font-size: var(--font-inform);
    }
}
/* ========================= mobile page ========================= */
@media (max-width: 767px){
    /* common */
    .phone-button{
        display: block;
    }
    /* index page */
    .main__banner img{
        padding-top: 100px;
    }
    .about{
        padding: 1rem;
    }
    .about h2,
    .product h2,
    .service h2,
    .shopping-container h2,
    .gallerys h2{
        font-size: 20px;
        padding: 1rem;
        padding-top: 30px;
    }
    .about p,
    .product p{
        font-size: 12px;
    }
    .plant .notice{
        visibility: visible;
        padding: none;
        padding-left: 10px;
    }
    .product-container{
        display: block;
    }
    .product-container .img{
        background-size: 300px;
        width: 300px;
        margin: 0 auto;
    }
    .product .img:hover{
        background-size: 300px;
        width: 300px;
        margin: 0 auto;
    }
    .service img{
        width: 100px;
    }
    .service p{
        font-size: 6px;
        height: 60px;
        text-align: left;
        padding: 4px;
    }
    .service li{
        width: 100%;
    }
    .service img{
        width: 100%;
    }
    .shopping p{
        text-align: center;
    }
    .naver-shopping{
        display: block;
        text-align: center;
    }
    .naver-shopping img{
        width: 400px;
    }
    .gallery{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}