@charset "utf-8";

/* ========================= font ========================= */
@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ========================= common ========================= */

:root{
    /* color */
    --primary-color:rgb(255, 255, 255); 
    --primary-bg:white;
    --secondary-color:#111;
    --thertiary-color:rgb(194, 194, 194);
    --quaternary-color:#fff;
    --color-inform:red;
    --color-edge:rgb(143, 143, 143);
    --color-naver:#2DB400;
    /* font size */
    --font-large:3rem;
    --font-medium:1.5rem;
    --font-small:1rem;
    --font-inform:10px;
    --font-mobile:11px;
    --font-mobile-title:15px;
    /* font-weight */
    --font-heavy:900;
    --font-slightly-heavy:700;
    --font-light:600;
}

h1{
    font-size: var(--font-large);
    font-family: 'Anton', sans-serif;
}

h2{
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
}
h3{
    font-size: 1.2rem;
    font-weight: 700;
}
p{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 1rem;
    text-align: center;
    color: rgb(44, 44, 44);
}
/* ========================= header ========================= */
.header{
    background: var(--primary-color);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    box-shadow: 3px 3px 3px rgba(87, 87, 87, 0.493);
}
.logo{
    justify-content: left;
    width: 100%;
    height: 100px;
}
.logo img{
    width: 250px;
    padding-top: 20px;
    height: auto;
    margin: 5px;
}
.gnb{
    display: flex;
    justify-content: center;
    background: var(--primary-bg);
    font-size: small;
}
.gnb-item{
    padding:30px;
}
.gnb-item:hover {
    color:blue;
    text-shadow: 3px 3px 3px gray;
}

.gnb-toggle-btn{
    position: absolute;
    right: 32px;
    font-size: 40px;
    color: white;
    top: 10px;
}

/* ========================= toggle ========================= */
.gnb-toggle-btn{
    display: none;
    color: gray;
}
/* ========================= aside ========================= */
.sns{
    position: fixed;
    bottom: 60px;
    left: 20px;
    z-index: 9;
}
.sns img{
    width: 60px;
    height: 60px;
    padding: 5px;
    z-index: 9;
}
.sns img:hover{
    animation: flip;
    animation-duration: 1s;
}
.button{
    position: fixed;
    bottom: 20px;
}
.kakao {
    position: fixed;
}
.phone-button{
    position: fixed;
    left: 80px;
}
.korean{
    left: 140px;
}
.japanese{
    left: 200px;
}
.button:hover{
    animation: flip;
    animation-duration: 1s;
}

/* ========================= main banner ========================= */
.main__banner img {
    padding-top: 4.5rem;
    width: 100%;
}

/* arrow */
.slick-prev,
.slick-next
{
    position: absolute;
    top: 80%;
    z-index: 2;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:after,
.slick-next:after{
    font-size: 3rem;
    color: white;
}
.slick-prev:after,
.slick-next:after{
    font-family: unicons-line;
}
.slick-prev:after {
    content: '\ec49';
}
.slick-next:after {
    content: '\eb9f';
}
/* progress */
.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

/* 나머지 dot */
.slick-dots li button {
    display: none;
} 
/* ====================================== about ====================================== */
.section{
    padding-top: 90px;
}
#about h3{
    font-weight: bold;
    text-align: center;
}
.inner{
    padding: 4rem;
}
.container{
    padding-bottom: 3rem;
}
.about p{
    text-align: left;
    padding: 1rem;
    line-height: 2.5rem;
}
.about h2,
.product h2{
    font-weight: 900;
    padding-top: 2rem;
}
.product h3{
    text-align: center;
    font-weight: 800;
    color: blue;
}
.product-container{
    display: flex;
}
.product .img{
    background: url(../img/fiber.jpg) no-repeat center/cover;
    width: 400px;
    height: 200px;
    padding: 1.5rem;
    margin-top: 40px;
}
.product .img:hover{
    background: url(../img/fiber3.jpg) no-repeat center/cover;
    width: 400px;
    height: 200px;
    padding: 1.5rem;
    padding-top: 3rem;
}
.product p {
    text-align: left;
    padding: 1rem;
    line-height: 30px;
}
.plant img{
    padding: 1rem;
}
.plant .notice{
    color: red;
    font-size: 8px;
    visibility: hidden;
}
.service h2{
    font-weight: 900;
}
.service h3{
    font-size: 1rem;
    font-weight: 700;
}
.service li{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.service img{
    max-width: 300px;
}
.service p{
    height: 60px;
    text-align: left;
    padding: 10px;
}
.shopping-container h2{
    font-weight: 900;
}
.shopping p{
    text-align: center;
}
.shopping .ask{
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(43, 43, 43, 0.219);
    margin: 0 auto;
}
.phone-ask{
    background: #009345;
}
.mail-ask{
    background: rgb(119, 164, 182);
}
.shopping img{
    box-shadow: 3px 3px 3px rgba(43, 43, 43, 0.219);
}
.shopping-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.shopping-container p{
    padding: 1rem;
}
.naver-shopping{
    display: flex;
    justify-content: center;
}
.naver-shopping a{
    margin: 1rem;
}
.contact h2{
    font-weight: 900;
}
.contact .map{
    text-align: center;
}
.contact .mail{
    padding-top: 40px;
    text-align: center;
}
.gallerys h2{
    font-weight: 900;
}
.gallery img{
    width: 300px;
}
.gallery{
    display: flex;
    width: 100%;
    justify-content: center;
}
/* ========================= footer ========================= */
footer{
    font-size:12px;
    font-weight: 700;
    text-align: center;
    height: 10rem;
    padding-top: 2rem;
    background: rgb(224, 224, 224);
}
footer p{
    color: gray;
}


.inner{
    padding-top: 100px;
}
.inner h1{
    margin-top: -4rem;
    padding-left: 1rem;
}